.container--border{
  border-top: 0.5px solid #C7C7C7;
  border-bottom: 0.5px solid #C7C7C7;
}
.about__union{
  display:flex;
  margin-top:rem(38px);
  @include phones{
    flex-direction: column-reverse;
    align-items: center;
  }
}
.about_left, .about_right{
  width:50%;

  @include phones{
    width: 100%;
  }
}
.about_right{
  display:flex;
  justify-content: center;
}

.about__desc{
    margin-bottom:rem(50px);
  
}

.about__text-all{
  display: none;

  &--active{
    display: block;
  }
}
.more__link{
  text-decoration: none;
  color:#5286EC;
  display: flex;
  align-items: center;

  & span{
    margin-right: 8px;
  }
}