
.calendar__img{
  width: 100%;
  height: 100%;
  margin-top: 3px;
}
.calendar__icon{
width: rem(35px);
height: rem(35px);
border: 0.5px solid #C4C4C4;
border-radius: 3px;
outline: none;
background-color: transparent;
}