@font-face {
  font-family: 'Montserrat-Regular';
  src: url('Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
                        /* ШАПКА */

/* .header__content
{
  display: flex;
  align-items: center;
}

.phone-number{
  font-family: "Montserrat-Regular",Arial, Helvetica, sans-serif;
font-size: 14px;
line-height: 17px;
color: #37373F;
} */

                        