header.header
  .container
    .header__content
      .logo
        a(href="index.html")
          img(src="../img/svg/logo.svg", alt="логотип")
      .header__contacts
        span.phone Телефон: 
        a(href="tel:88001231212").phone-number 8(800)-123-12-12
      span.location Москва
      .header__auth
        button.auth__btn
          img(src="../img/svg/person.svg", alt="личный кабинет" )